.artwork {
  margin: 0 !important;

  border: 1px solid grey;
  border-radius: 4px;

  cursor: pointer;
}

.artwork.selected {
  border: 2px solid green;
}
.artwork.disabled {
  border: 1px dashed red;
}

.artwork-image {
  overflow: auto;
}

.artwork-image img {
  max-height: 100px;
}

.artwork-details p {
  margin: 0;
}
