body {
  height: 100vh;
  max-height: 100vh;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.pixel-container {
  height: calc(100% - 56px);
}

.pixel-container > .row,
.pixel-container > .row > div {
  height: 100%;
}
